* {
  margin: 0;
  border: border-box;
  color: red;
}
.navbar {
  display: flex;
  height: 80px;
  background-color: grey;
  justify-content: center;
}
@keyframes shine {
        40% {
            color: red;
        }
        50% {
            color: #ffff00;
        }
        100% {
            color: #ffffff;
        }
    }
.name {
  font-weight: 1000;
  display: flex;
 color: white;
 font-size: 44px;
 margin-top :19px ;
 animation: shine 4s infinite;
}
.info{
  font-size: 12px;
  display: flex;
  position: absolute;
  margin-top:66px;
margin-left: 45%;
  
}
.fa-solid {
  margin-left: 4px;
}
.profile {
  font-weight: 900;
  display: flex;
  height:15px;
  margin-top :15px;
  background-color: white;
  justify-content: center;
  
}
.dis {
  margin-top: 10px;
 margin-left: 6px;
  justify-content: center;
}
.skill {
  font-weight: 900;
  display: flex;
  margin-top: 15px;
 height: 15px;
 background-color: white;
 justify-content: center;
}
.skills {
  font-weight: 900;
  margin-left :34%;
  display: flex;
  align-content: center;
  margin-top: 15px;
 height: 15px;
 width: 140px;
 background-color: white;
 justify-content: center
}
.points{
align-content: center;
  margin: 10px 10px ;
}
.portfolio {
  font-weight: 900;
  height: 15px;
  display: flex;
  align-content: center;
  background-image: white;
  
}
.fa-solid {
margin-right: 5px;
margin-top: 1px;
}
.portfolio {
  font-weight: 900;
  margin-top: 15px;
  background-color: white;
  height: 15px;
  display: flex;
  justify-content: center;
}
.courses {
  font-weight: 900;
  margin-top: 15px;
  background-color: white;
  height: 15px;
  display: flex;
  justify-content: center;
}
.bsfi {
  font-weight: 900;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  justify-content: center;
}
.bsfi1 {
  font-size: 10px;
  margin-left: 10px;
  margin-top:50px;
  
  justify-content: center;
}
.education{
  font-weight: 900;
  background-color: white;
  height: 15px;
  display: flex;
  justify-content: center;
}
.school{
  font-size: 20px;
  position: absolute;
  font-weight: 900;
  margin-left:10px;
  margin-top: 15px;
}
.school1 {
  font-size:10px;
  position: absolute;
  margin-left: 10px;
  margin-top: 34px;
  width: 200px;
  justify-content: center;
}
.school2 {
  font-size: 20px;
  position: absolute;
  font-weight: 700;
  margin-left:210px;
  margin-top:15px;
}
.school3 {
  font-size:10px;
  position: absolute;
  margin-left:210px;
  margin-top:59px;
  
}